.col{
    display: flex;
    flex: 0 0 auto;
}
.Up-Menu{
    display: flex;  
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-between;

}
.contact-box{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    
}
.contact-box li{
    margin: 0 1rem;
}
.addres-box{
    display: flex;
}
.social-box{
    display: flex;
    
    
}